
<h1>1. Implement the following directive or component
</h1>

<user-list [users]= "users"></user-list>

<h1>2. Implement the following directive</h1>
<input type="text" only-letters="words">

<h1>3.Code a simple example of sharing data between components</h1>
<h4>Both 1 and 2 are anwers for this question (input communcation)</h4>
<h4>parent to child communcation of components(appcomponent to userlist component)</h4>
<user-list [users]= "users"></user-list>

<h1>4. Code the following filter (Angular 1.x) or Pipe (Angular 2 / 4)</h1>
<p>reversing rajarshi into {{title | reverse}}</p>
<h1>Reamaining answers in javascript questions 5-10 in source code</h1>




